################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/RabbitMq.WebApi/bin/Debug
/RabbitMq.WebApi/obj/Debug
/RabbitMq.Tests/bin/Debug
